// Cores
$primary-color: #FFB100;
$black: #212121;
$white: #FFF;

// Estilos
@mixin background($nome) {
  background: url("../img/#{$nome}.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin line-height($size) {
  line-height: calc-line-height($size) + em;
}

@function calc-line-height($size) {
  @return ($size * 1.5) / 16;
}

@keyframes loop {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
} 